@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'PT Sans', sans-serif;
    background-color: #424A5C;
}
h1 {
    color: white;
    word-wrap: break-word;
}
p, label{
    padding: 12px 12px 12px 0;
    display: block;
    color: white;
    font-size: 1.0em;
}
input[type=text] {
    width: 100%;
    display: block;
    border-style: none;
    background-color: whitesmoke;
    padding: 12px;
    border-radius: 4px;
    font-size: 1.0em;
}
#visitantes {
    width: 100px;
}
input[type=text]:hover {
    background-color: rgb(243, 215, 215);
}
input[type=text]:focus {
    background-color: cornsilk; 
}
input[type=submit] {
    margin-top: 1em;
    border: none;
    background-color: #424A5C;
    border-radius: 2px;
    padding: 1em 2em;
    color: white;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #dabbbb;
    color: black;
}
input:focus { 
    outline: none;
}
form {
    background-color: #A2B5E1;
    border-radius: 1em;
    width: 90%;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
}
@media (min-width: 600px) {
    form {
        width: 500px;
    }
}